/.idea/
/.vscode/
/.phpunit.result.cache
/.env.local
/.env.*.local
/var/cache/
/var/log/
/var/*.db
/vendor/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
